<!DOCTYPE html>
<html ng-app="app">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Group Match App</title>

    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/bower_components/ng-material-floating-button/mfb/dist/mfb.min.css">
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">

    <!-- load local styles -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Enable cloaking, avoid show content prior angular styles load-->
    <style> 
      [ng:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { 
        display: none !important; 
      }
    </style>
  </head>

  <body ng-controller="MainController as mc" layout="column" ng-cloak>

    <div ng-controller="AuthController as ac">

      <div ng-if="loggedUser.isLogged">
        <nav mfb-menu position="br" effect="slidein-spring"
        active-icon="ion-close-round" resting-icon="ion-navicon-round" toggling-method="click">
          <button mfb-button icon="ion-search" label="Search a public project"></button>
          <button mfb-button icon="ion-plus" label="Create a new project"></button>
        </nav>
      </div>

      <md-toolbar layout="row" layout-align="space-between center">
          <!--The left side-->
          <span> <h2 class="md-toolbar-tools"> GroupMatch </h2></span>
          <!--The right side-->
          <span>
            <md-button ng-if="!loggedUser.isLogged" aria-label="Login" ng-click="fbLogin()"> Login with Facebook </md-button>
            
            <md-menu-bar ng-if="loggedUser.isLogged">
              <md-menu>
                <md-button ng-click="$mdOpenMenu()"> {{loggedUser.name.split(' ')[0]}} </md-button>
                <md-menu-content width="4">
                  <md-menu-item>                            
                    <md-button aria-label="Logout" ng-click="fbLogout()">
                      <div layout="row">
                      <p flex> <font color="black"> Logout </font> </p>
                      <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
                    </div>
                    </md-button>
                  </md-menu-item>              
                </md-menu-content>
              </md-menu>
            </md-menu-bar>            
          </span>
      </md-toolbar>

      <md-content class="md-padding">
        
          <!-- Info for user not logged -->
          <div ng-if="!loggedUser.isLogged" layout="row" layout-sm="column">

            <!-- Card 1 -->
            <md-card style="width: 100%">
              <md-card-content> CONTENT 1
                <!-- <h2 class="md-title">USER</h2> -->
                <p>
                  {{loggedUser._id}} {{loggedUser.name}}
                </p>
              </md-card-content>
             <!--  <div class="md-actions" layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </div> -->
            </md-card>

            <!-- Card 2 -->
            <md-card style="width: 100%">
              <md-card-content> CONTENT 2
                <!-- <h2 class="md-title">USER</h2> -->
                <!-- <p>
                  {{loggedUser._id}} {{loggedUser.name}}
                </p> -->
              </md-card-content>
             <!--  <div class="md-actions" layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </div> -->
            </md-card>

            <!-- Card 3 -->
            <md-card style="width: 100%">
              <md-card-content> CONTENT 3
                <!-- <h2 class="md-title">USER</h2> -->
                <!-- <p>
                  {{loggedUser._id}} {{loggedUser.name}}
                </p> -->
              </md-card-content>
             <!--  <div class="md-actions" layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </div> -->
            </md-card>

          </div>

          <!-- Info for user logged -->
          <div ng-if="loggedUser.isLogged" layout="row" layout-sm="column">

            <md-card>
              <md-card-content>
                <h2 class="md-title">USER</h2>
                <p>
                  {{loggedUser._id}} {{loggedUser.name}}
                </p>
              </md-card-content>
              <div class="md-actions" layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </div>
            </md-card>

          </div>

      </md-content>
          
  </div>

    <!-- Angular Material Dependencies -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <script src="/bower_components/ng-material-floating-button/mfb/dist/mfb.min.js"></script>
    <script src="/bower_components/ng-material-floating-button/src/mfb-directive.js"></script>

    <!-- Logic -->
    <script src="js/core.js"></script>
  </body>

</html>
